<section class="search">
  <profile *ngIf="profile$ | async as profile" 
          [userName]="profile.display_name"
          [thumbUser]="profile.images[0].url"
          >
  </profile>
  <div class="search__container-search-bar">
    <input [formControl]="searchInput" type="text" class="search__search-bar" placeholder="Digite o nome do album" autofocus>
  </div>
  <div class="search__container-list list">
    <p [hidden]="showLastSearch" class="list__last-search">Última busca realizada:</p>
    <ul class="list__albums" *ngIf="albums.albums">
      <li class="list__item" *ngFor="let album of albums.albums.items">
        <a [routerLink]="['/album', album.artists[0].id]">
          <img [src]="album.images[0].url" alt="album.name" class="list__thumb">
          <h5 class="list__album-name">{{album.name}}</h5>
          <p class="list__artist-name">{{album.artists[0].name}}</p>
        </a>
      </li>
    </ul>
  </div>
</section>
