<section class="home">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum quas, eaque ex sapiente ipsam impedit tempora suscipit fuga iure perferendis quidem, odio officia aut nisi sit exercitationem aliquid quisquam. Quos!</p>
  <!-- <div class="home__profile" *ngIf="(profile$ | async) as profile;">
    <p>{{ profile.display_name }}</p>
    <p>{{ profile.email }}</p>
    <img [src]="profile.images[0].url" alt="profile">
  </div> -->
  <button (click)="onClickLogin()">login</button>
</section>
