.home {
  width: 50%;
  display: block;
  margin: 100px auto;

  h1, p { margin-bottom: 20px; }

  &__button-login {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    box-shadow: 1px 1px 5px #ccc; 

    &:hover {
      opacity: .8;
    }
  }
}